@(loginForm:Form[(String,String)])(implicit msg:Messages, flash:Flash)
@views.html.main("Login"){
<div id ="loginemployee"><center>
    @helper.form(action=routes.EmployeeController.validate(),'id->"loginForm") {
    @helper.inputText(loginForm("name"), '_label -> "NAME",'placeholder -> "xyz",'id -> "id" ,'_showConstraints -> false )
    @helper.inputPassword(loginForm("password"), '_label -> "PASSWORD",'placeholder -> "***",'id -> "password" ,'_showConstraints -> false)
    @flash.get("loginerror")
    <center> <input class= "btn btn-primary" type="submit" value="Submit"/></center></center>
    }
</div>}

